<div class="block intro-section">
  <img src="images/crimeStats.jpg" role="presentation" alt="Crime statistics chart" class="right"/>

  <p>
    This site uses open data about crime and policing in England, Wales and Northern Ireland from data.police.uk to help you visualize the crime statistics for a given postcode.
  </p>

  <p>You can see the number of crimes per category in the region as well as a map showing where which crime took place. </p>

  <p>
    Sources: <br />
    <a href="https://data.police.uk/">https://data.police.uk/</a> <br />
    <a href="http://postcodes.io/">http://postcodes.io/</a> <br />
    <a href="https://developers.google.com/maps/">Google maps api</a>
  </p>

  <p>
    <a class="btn" href="#/crimes">Get Started</a>
  </p>
  
</div>