<form class="crime-search">
  <div class="form-control">
    <label for="postcode">Please Enter a postcode</label>
    <input name="postcode" id="postcode" type="text" />
    <button class="find btn">Find Crimes</button>
  </div>
  <div class="error hide">Please enter a valid postcode</div>
</form>
<div class="block data-container">
  <div id="crime-stats" class="col col-1by2"></div>
  <div id="google-maps" class="col col-1by2"></div>
  <div class="loading-container hidden">
    <div class="loader">Loading...</div>
  </div>
</div>